.seat_container{
    position: absolute;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seat_container>*{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    min-width: 200px;
}

.player_1_seat{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.player_2_seat{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.player_3_seat{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.player_4_seat{
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}