.game_container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.game_info{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.game_info>*{
    font-size: 24px;
}

.room_id{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.player_name{
    position: absolute;
    font-size: 24px;
}

.seat_1_name{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.seat_2_name{
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.seat_3_name{
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.seat_4_name{
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}