.container{
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 220px;
    bottom: 300px;
    min-height: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 0 50px 5px black;
}

.container h2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.player_name{
    font-size: 24px;
    text-align: center;
    position: absolute;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}

.player_1_name{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.player_2_name{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.player_3_name{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.player_4_name{
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}