.game_container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.room_info{
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}


.round_info{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.room_info>*, .round_info>*{
    font-size: 24px;
}


.player_name{
    position: absolute;
    font-size: 24px;
}

.seat_1_name{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.seat_2_name{
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.seat_3_name{
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.seat_4_name{
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.tarnib img{
    width: 25px;
    position: absolute;
    transform: translate(5px, -2px);
}

.tarnib span{
    margin-left: 35px;
}