.card{
    width: 105px;
    height: 150px;
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}

.card.tarnib{
    box-shadow: 0px 0 5px 5px rgb(255, 153, 0);
}

.seat_1_card{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}

.seat_2_card{
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.seat_3_card{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

}

.seat_4_card{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}